body{
    font-family: Arial,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg,#ff7eff,#ff1e00);
    background-size: 400% 400%;
    animation: flameEffect 8s ease infinite;
}

@keyframes flameEffect{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.registration-form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

.registration-form h2{
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.registration-form label{
    font-size: 14px;
    color: #555555;
}

.registration-form input,
.registration-form select,
.registration-form button{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    box-sizing: border-box;   
}

.registration-form input,
.registration-form select{
    padding-left: 15px;
}

.registration-form button{
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
}

.registration-form button:hover{
    background-color: #45a049;
}

.clear-button{
    background-color: #f44336;
}

.clear-button:hover{
    background-color: #e53935;
    @media(max-width: 600px){
        .registration-form{
            padding: 15px;
            width: 90%;
        }
        .registration-form h2{
            font-size: 18px;
        }
        .registration-form input,
        .registration-form select,
        .registration-form button{
            padding: 8px;
        }
    }
}